<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
		</Console>

		<RollingFile name="rollingFile" fileName="./logs/dailyRollingSample.log"
			filePattern="./logs/daily/dailyRollingSample.%d{yyyy-MM-dd}.log.%i">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.psc.netty" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Root level="DEBUG">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile" />
		</Root>
	</Loggers>
</Configuration>
